.app {
  background-color: bisque;
}

.upperTaskCardArea {
  display: flex;
}

.lowerTaskCardArea {
  display: flex;
}

.taskAddInput {
  width: 100%;
  font-size: 1.3rem;
  padding: 10px 15px1;
  border-radius: 3px;
  border: none;
  outline: none;
}

.taskCard {
  width: 250px;
  padding: 10px 25px;
  margin: 10px 1%;
  background-color: cadetblue;
  border-radius: 5px;
}
